#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}





body { background-color: #24d7e1; 
    color:#030d78;
    font-family: Garamond, Georgia, Tahoma;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header { background-color: #24d7e1;
    color:#030d78;
    display:grid;
    grid-template-columns: 150px auto;
}
nav a:hover { background-color: #3878a5; }

.book, .join { background-color: #030d78;
    color:#24d7e1;
    padding: 15px 30px;
    margin-top: 50px
    
} 
.book:hover, .join:hover { background-color: #3878a5; 
    color:#01063b;
}
#background { background-color: #24d7e1; 
    color:#030d78;
}
.msg { background-color: #24d7e1; 
    color:#030d78;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer { background-color: #030d78; 
    color:#24d7e1;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a,
.book, .join,
footer a {
    text-decoration: none;
    color:#24d7e1;
}
header nav a{
    color:#030d78
} 
footer p a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}
.logo { width: 80px; }
.icon { width: 80px;
    padding-top: 10px;
}
#hero-img { width: 100%; }

.home-title, .msg h2 {
    margin-top: 10px;
    font-family: "Audiowide", Georgia, Tahoma;
    font-size: 2em;
}
.msg { line-height: 1.5em;
    padding: 35px;
 }
h2 {
    margin: 0;
}


#logo_link { 
    padding-top: 5px; 
    justify-self: center;
    align-self: center;
}
nav a { padding: 35px; }



.msg p { padding-bottom: 15px; }

footer .social img { padding-top: 15px; }
.rivers-card, .camping-card, .rapids-card { margin: 200px 0; }
.book, .join { border-radius: 5px; } /*Won't go into the other one, so I made a new book/join {}. This works the same but isn't very neat.*/
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #101f51;
}
main section img { box-sizing: border-box; }
nav {
    display:flex;
    justify-content: space-around;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index:-1;
}
#hero-msg{
    grid-column:2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4, h1 {  
    color: white;       
} /*Used white because text within the middle of the image is far from the blue theme.*/
.card-img, .mountains {
    width: 100%;
    
}

.home-grid{
    display: grid; 
    grid-template-columns: repeat(10,1fr);
}  /*Made this into an id becuase a class wouldn't work for some reason*/
.rivers-card {
    grid-column: 2/4;
    grid-row:2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row:2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row:2/3;
}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row:4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row:5/8;
    box-shadow: 5px 5px 10px #053f63;

}
.msg{
    grid-column: 6/10;
    grid-row:6/7;
}


.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

