body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: gray;
    }

header {
    background-color: #222;
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
     margin: 0;
    font-weight: 400;
}
main {
display: grid;
grid-template-columns: .1fr .1fr 1fr .1fr;
margin-top: 20px;
}
hr {
    width: 100%;
    grid-column: 1 / 5;
}
h2 {
    grid-column: 2/3;
}

#blue {
    background: blue;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

#white {
    background: white;
    grid-column: 2 / 4;
}

#red {
    background: red;
    grid-column: 1 / 4;
}

#chile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}
.star {
    width: 70px;
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}

#denmark{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 25px 1fr 1fr;
    grid-template-rows: 1fr 25px 1fr;
    height: 200px;
    width: 300px;
}
#dred1{
    background-color: red;
    grid-column: 1/1;
}
#dred2{
    background-color: red;
    grid-column: 3/5;
}
#dred3{
    background-color: red;
    grid-column: 1 / 1;
    grid-row: 3/4;
}
#dred4{
    background-color: red;
    grid-column: 3 / 5;
    grid-row: 3 /4;
    
}


#finland{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 40px 1fr 1fr;
    grid-template-rows: 1fr 40px 1fr;
    height: 200px;
    width: 300px;
}
#fwhite1{
    background-color: white;
    grid-column: 1/1;
}
#fwhite2{
    background-color: white;
    grid-column: 3/5;
}
#fwhite3{
    background-color: white;
    grid-column: 1 / 1;
    grid-row: 3/4;
}
#fwhite4{
    background-color: white;
    grid-column: 3 / 5;
    grid-row: 3 /4;
}

#benin{
    background:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}
#bgreen{
    background-color: green;
    grid-column: 1 / 3; 
    grid-row: 1 / 3;
}
#byellow{
    background-color: yellow;
    grid-column: 3 / 6;
    grid-row: 0 / 2;
}
#bred{
    background-color: red;
    grid-column: 3 / 6;
    grid-row: 0 / 2;
    
}
#italy{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 300px;
}
#igreen{
    grid-column: 1/2;
    background-color: rgb(0, 147, 58);
}
#iwhite{
    grid-column: 2/3;
    background-color: white;
}
#ired{
    grid-column: 3/4;
    background-color: rgb(207, 40, 52);
}
#CAR{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 45px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 200px;
    width: 300px;
}
#cblue1{
    background-color: rgb(0, 44, 131);
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

}
#cblue1 .star{
    background-color: rgb(255, 207, 3);
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 20px;
}
#cwhite1{
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}
#cgreen1{
    background-color: rgb(36, 152, 35);
    grid-column: 1/2;
    grid-row: 3/4;
}
#cyellow1{
    background-color: rgb(255, 207, 3);
    grid-column: 1/2;
    grid-row: 4/5;
}
#cred{
    grid-column: 2/3;
    grid-row: 1/5;
    background-color: rgb(210, 9, 49);
}
#cblue2{
    background-color: rgb(0, 44, 131);
    grid-column: 3/4;
    grid-row: 1/2;
}
#cwhite2{
    background-color: white;
    grid-column: 3/4;
    grid-row: 2/3;
}
#cgreen2{
    background-color: rgb(36, 152, 35);
    grid-column: 3/4;
    grid-row: 3/4;
}
#cyellow2{
    background-color: rgb(255, 207, 3);
    grid-column: 3/4;
    grid-row: 4/5;
}

