body{
    background-color: rgb(255,255,255);
    color:wheat
}
h1 {
    color: white;
    background-color: black;
    padding: 30px 15px;
    border: 2px solid white;
    margin:50px;
}
p {
    background-color: cadetblue;
}
.flavors {
    background-color: black;
    font-style: italic;
    color: yellow;
}
#cultures {
    font-weight: bold;
    color: orange
}
