div {
    background-color: lightblue;
}


main {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 30px;
    padding: 10px;
}

.first {
    background-color: red;
    grid-column:1/-1
}
.second {
    background-color: yellow;
    grid-column:1/-1

}
.third {
    background-color:blue
}

.fourth {
    background-color: black;
    grid-column: 6/-1
    
    
    
}