

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
img{
    max-width: 300px;
    
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
    
    
}

.right{
    margin-left: 150px;

}
