body {
    background-color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;

}


.departureinfo{
    background-color: #001b36;
    color:#527aa4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    font-size: 12px;
    align-items:center;
    
}
.departureinfo h2 {
    color: white;
    font-size: 22px;
    margin: 13px 0;
}
.departureinfo h4 {
    font-size: 10px;

}

#Boardingpass {
    max-width:50%;
    background-color: white;
    margin:0 auto;
    border-radius: 19px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding:11px 35px 0 20px;
}
header .logo{
    text-align: left;
}
header .name {
    margin-top:9px;
}

.gateinfo {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;

}
h3 {
    font-size: 10px;
}
h5 {
    font-size: 35px;
    padding:10px;
    margin:0%

}
footer {
    text-align: center;
    margin:auto
}


